<div class="page-header">
  <h1>新規ブックマーク</h1>
</div>

<%= form_for(@bookmark, class: 'form-horizontal', role: 'form') do |f| %>
<% if @bookmark.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @bookmark.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :url %>
  <%= f.text_field :url, class: 'form-control' %>
</div>

<%= f.submit 'ブックマーク', class: 'btn btn-default', data: { disable_with: 'ブックマーク中•••' } %>
<% end %>

<div class="page-header">
  <h1>ブックマーク詳細</h1>
</div>
