<div class="page-header">
  <h1>ブックマーク一覧</h1>
</div>

<% @bookmarks.each do | bookmark | %>
  <div class="media">
    <div class="media-left">
      <%= link_to bookmark.owner.nickname do %>
        <%= image_tag bookmark.owner.image_url %><br>
      <% end %>
      <%= "@#{bookmark.owner.nickname}" %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to bookmark.url, { target: '_blank' } do %>
          <%= bookmark.url %>
        <% end %>
        <%= link_to bookmark do %>
          <span>詳細<span>
        <% end %>
      </h4>
      <b>登録日時</b> : <%= bookmark.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if bookmark.comment %>
      <div>
        <b>コメント</b> :
        <p>
          <%= bookmark.comment %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
